#layout-body {
    background-image: url("../../../assets/images/meal-banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1A1D2A;
}