.bg-dark-moss-green {
    background-color: #58592E;
}

.text-dark-moss-green {
    color: #58592E;
}

.bg-sunset {
    background-color: #F2D0A7;
}

.text-sunset {
    color: #F2D0A7;
}

.bg-pakistan-green {
    background-color: #1A4009;
}

.text-pakistan-green {
    color: #1A4009;
}

.bg-pearl {
    background-color: #D9D1B8;
}

.text-pearl {
    color: #D9D1B8;
}

.bg-avocado {
    background-color: #568C30;
}

.bg-fern-green {
    background-color: #487527;
}