@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.font-title {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-primary {
    background-color: #249e61;
}

.bg-list-item {
    background-color: #AA8E86;
}

.bg-list-item:hover {
    background-color: #8f7670;
}

.text-primary {
    color: #249e61;
}

.center-container {
    @apply max-w-4xl mx-auto px-4 py-6 h-auto text-white;
}

.ml-20vw {
    margin-left: 20vw;
}